<div class="transaction-selector">
	<input type="radio" name="type-select" value="Expense" id="rdo_expense" class="rdo_transact_type"/> Expense
	<br/>
	<input type="radio" name="type-select" value="income" id="rdo_income" class="rdo_transact_type" /> Income
</div>
<div>
	<div class="expense" style="display:none">
		Expense
		<input type="text" class="transaction-input"/>
		<input type="text" class="transaction-input"/>
		<input type="text" class="transaction-input"/>
		<input type="text" class="transaction-input"/>
	</div>
	<div class="income" style="display:none">
		Income
		<input type="text" class="transaction-input"/>
		<input type="text" class="transaction-input"/>
		<input type="text" class="transaction-input"/>
		<input type="text" class="transaction-input"/>
	</div>
</div>