<div class="transaction_table">
	<div class="list_table_header">
		<div class="head_element date"> Date </div>
		<div class="head_element concept"> Concept </div>
		<div class="head_element entity"> Entity </div>
		<div class="head_element amount"> Amount </div>
		<div class="head_element description"> Description </div>
	</div>
	<div id="transaction_list_big_body" class="list_table_body">
		<div class="body_element date"> </div>
		<div class="body_element concept"> </div>
		<div class="body_element entity"> </div>
		<div class="body_element amount"> </div>
		<div class="body_element description"> </div>
	</div>
	<div class="list_table_footer">
		<div class="footer_element_1"> </div>
	</div>	
</div>
