<div class="body_element date"> </div>
<div class="body_element concept"> </div>
<div class="body_element entity"> </div>
<div class="body_element amount"> </div>
<div class="body_element description"> </div>