<div class="transaction_table">
	<table class="transact_tbl">
		<thead>
			<tr>
				<th>Date</th>
				<th>Concept</th>
				<th>Entity</th>
				<th>Amount</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody id="transact_table_bdy">
			<tr>
				<td> Hola</td>
				<td> hola</td>
			</tr>
			<tr>
				<td> Hola</td>
				<td> hola</td>
			</tr>
		</tbody>
	</table>
</div>