<div class="status_bar">
	
</div>
<div class="menu_banner">
	
</div>
<div class="menu_top">
		<ul class="top_menu_ul">
			<li class="menu-item"><a href="#" id="new_transact"> New Transaction</a></li>
			<li class="menu-item"> Lorem Ipsum</li>
			<li class="menu-item"> Lorem Ipsum</li>
			<li class="menu-item"> Lorem Ipsum</li>
		</ul>
</div>
