.copyright
  text-align: center
  
.bottom_menu
  text-align: center
  
.top_menu
  text-align: center
  height: 100%
  background: #423c32 /* Old browsers */
  background: -moz-linear-gradient(top,  #423c32 1%, #171511 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#423c32), color-stop(100%,#171511)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #423c32 1%,#171511 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #423c32 1%,#171511 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #423c32 1%,#171511 100%) /* IE10+ */
  background: linear-gradient(to bottom,  #423c32 1%,#171511 100%) /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#423c32', endColorstr='#171511',GradientType=0 ) /* IE6-9 */

 
.top_menu_ul
  list-style: none
  li
    float: left
    margin: 0.6%
    margin-left: 15%
    a
      text-decoration: none
      color: gray
  
.menu_top
  background-color: red
  height: 30%
  margin-top: -16px
  
.dashboard_main
  
.menu_bottom
  background-color: #36332D
  height: 100%
  
.status_bar
  height: 16%
  background: #3a3730 /* Old browsers */
  background: -moz-linear-gradient(left,  #3a3730 0%, #5b574d 50%, #3a3730 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3a3730), color-stop(50%,#5b574d), color-stop(100%,#3a3730)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #3a3730 0%,#5b574d 50%,#3a3730 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #3a3730 0%,#5b574d 50%,#3a3730 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #3a3730 0%,#5b574d 50%,#3a3730 100%) /* IE10+ */
  background: linear-gradient(to right,  #3a3730 0%,#5b574d 50%,#3a3730 100%) /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3730', endColorstr='#3a3730',GradientType=1 ) /* IE6-9 */

  box-shadow: 0 3px 2px 0 #CCC

  
.menu_banner
  height: 55%
  background: #656259
  

  