html
  height: 100%
body
  margin: 0px
  height: 100%
#top_bar
  height: 20%
  width: 100%
#content-body
  height: 60%
  width: 100%
#bottom_bar
  height: 20%
  width: 100%
#login-content-body
  height: 33%
  width: 100%