
.landing_content
  .landing_info
    .internal_info
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam bibendum ornare consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam et ante eu lorem rhoncus rutrum sed quis tellus. Donec vel diam risus, tincidunt adipiscing odio. Nullam mi diam, lacinia nec pulvinar sed, cursus molestie velit. Proin a justo arcu, at adipiscing magna. In quis lacus felis. Cras pulvinar sollicitudin nulla, quis ultrices ipsum porttitor pellentesque. Duis rhoncus sagittis enim in porttitor.
      %p Donec volutpat sollicitudin malesuada. Nunc dapibus tempus erat non pretium. Aliquam ullamcorper molestie ullamcorper. Nulla quam nibh, sollicitudin egestas euismod mattis, accumsan quis dui. Quisque eget dignissim enim. Quisque fermentum semper sollicitudin. Donec vehicula dictum dolor, accumsan tempor leo elementum ut. Donec sem erat, dictum at iaculis ac, posuere in turpis. Donec orci turpis, pharetra eget accumsan non, iaculis gravida dui.
  .landing_form
    =form_tag "/authorization/login" do
      .login_form
        .login_fields
          =label_tag :email, "Email :"
          =text_field_tag :email
          %br
          =label_tag :password, "Password :"
          =password_field_tag :password
        .login_action
          %input#login_btn{:type => "submit", :value => "Login"}/
    .clear     
    .landing_links
      %a{:href => "users/password/new"} Forgot your password?
      %a{:href => "/application/register"} Register
    .social_login
      %a{:href => "auth/facebook"}
        %img{:src => "assets/fb-login-button.png"}/
      %a{:href => "auth/twitter"}
        %img{:src => "assets/sign-in-with-twitter-d.png"}/


