<!DOCTYPE html>
<html>
<head>
  <title>Slinters</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Navigation Header -->
	<div id="top_bar">
		
	</div>
	<!-- Content Body -->
	<div id="content-body" class="">
		<%= yield %>
	</div>
	<!-- Navigation Footer -->
	<div id="bottom_bar">
		
	</div>
</body>
</html>
